/* canvas styles */
* {
    box-sizing: border-box;
}
html, body
{
    font:normal normal normal 100%/1.4 tahoma, sans-serif;
    background:#f9f9f9;
    color:#000;
    width: 100%;
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 30vh;
    background-color: #db1342;
    /*padding: 20px 30px;*/
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    z-index: 10 !important;
}

.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > div {
    background-color: #fefee2;
    text-align: center;
    padding: 15px;
    width: 100%;
    flex-grow: 3;
}

.moins {
    float: left;
    display:none;
    background-color: inherit;
    border: none;
}

.plus {
    float: right;
    display: none;
    background-color: inherit;
    border: none;
}

.reserve {
    min-height: 50px !important;
}

.groups {
    width: 42%;
    margin: 1em;
}
/* Animation pour référent : */
@keyframes refColor{ 
    0%{
        background-color:#686868;
    }
    100%{
        background-color: #db1342;
    }
}
.groups  > ol > li:first-of-type {
    animation-name: refColor;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.append > ol > legend {
    padding-bottom: 10px;
}

.input {
    width : 100%;
    background-color: #fefee2 !important;
    padding: 15px;
    color: #fefee2;
    flex-grow: 1;
}

#clickme {
    padding: 10px 15px 10px 15px;
    background: #686868;
    color: #fefee2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

#clickme:hover {
    background-color: #db1342;
}

.label-file {
    padding: 10px 15px 10px 15px;
    background: #686868;
    color: #fefee2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}
.label-file:hover {
    background-color: #db1342;
}

.input-file {
    display: none;
}

.label-nbr {
    padding: 1em 0 1em 1.5em;
    margin-right: 0.2em;
    background: #686868;
    color: #fefee2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.label-size {
    padding: 1em 0 1em 1.5em;
    background: #686868;
    color: #fefee2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

input[type=number] {
    padding: 1em 1.5em 0.95em 1.5em;
    background: #686868;
    color: #fefee2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

input[type=number]:focus {
    background-color: #db1342;
    border: none;
}

.reserve {
    display: flex;
    justify-content: center;
}

.append {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.output {
    background-color: #fefee2 !important;
    flex-grow: 1;
    padding-bottom: 1.5em;
}

#dl {
    width: 30%;
    margin: 0 auto;
    color: #686868;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

#dl:hover {
    color: #db1342;
}

.footer {
    min-height: 20vh;
    bottom: 0;
    padding: 15px;
    text-align: center;
    background: #db1342;
    color: #292D2D;
    box-shadow: 0 -5px 5px -5px #333;
    z-index: 10 !important;
}

/* draggable targets */
[data-draggable="target"]
{
    float:left;
    list-style-type:none;
    width:100%;
    height:auto;
    margin:0 0.5em 0.5em 0;
    padding:0.5em;
    background:#686868;
    color:#fefee2;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
    background:#EBBEC9;
    color: #292D2D;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
    outline:none;
    box-shadow: 0 0 0 3px #292D2D;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;
    margin:0 0 2px 0;
    padding:0.3em 0.4em;
    line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
    outline:none;
    box-shadow:0 0 0 2px #292D2D;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
    background:#8EB0A4;
    color: #292D2D;
}